// default btn mixin
@mixin btn-base(
  $btn-base,
  $btn-focus,
  $btn-active,
  $btn-disabled,
  $animation: null
) {
  @include appearance(none);
  @include no-select();
  height: rfs(var(--scale-btn));
  font-size: var(--fs-btn);
  font-family: fontGuide("fs-btn", "font-family");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  @each $prop, $val in $btn-base {
    #{$prop}: $val;
  }
  &:active {
    @each $prop, $val in $btn-active {
      #{$prop}: $val;
    }
  }
  &:focus {
    @each $prop, $val in $btn-focus {
      #{$prop}: $val;
    }
  }
  &:disabled,
  [disabled] {
    @each $prop, $val in $btn-disabled {
      #{$prop}: $val;
      cursor: cursor;
      &:hover:after {
        display: none;
      }
    }
  }
}
// button line mixin
@mixin btn-line($classname, $btn-line-properties) {
  &.#{$classname} {
    background-color: transparent !important;
    @each $prop, $val in $btn-line {
      #{$prop}: $val;
    }
  }
}

@mixin chip-base(
  $chip-base,
  $chip-focus,
  $chip-active,
  $chip-disabled,
  $animation: null
) {
  @include appearance(none);
  @include no-select();
  height: rfs(var(--scale-chip));
  font-size: var(--fs-chip);
  font-family: fontGuide("fs-meta", "font-family");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  @each $prop, $val in $chip-base {
    #{$prop}: $val;
  }
  &:active {
    @each $prop, $val in $chip-active {
      #{$prop}: $val;
    }
  }
  &:focus {
    @each $prop, $val in $chip-focus {
      #{$prop}: $val;
    }
  }
  &:disabled,
  [disabled] {
    @each $prop, $val in $chip-disabled {
      #{$prop}: $val;
      cursor: cursor;
      &:hover:after {
        display: none;
      }
    }
  }
}
// chip line mixin
@mixin chip-line($classname, $chip-line-properties) {
  &.#{$classname} {
    background-color: transparent !important;
    @each $prop, $val in $chip-line {
      #{$prop}: $val;
    }
  }
}
