$box-list-style: disc !default;
$box-space-base: get-space-value("base") !default;
$box-space-half: get-space-value("half") !default;
// GUTTER STEPS
// DEFAULT
.box {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-self: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  grid-column: span 12;
  clear: both;
  width: 100%;
  padding: rfs(var(--scale-box));
  font-family: var(--productive);
  font-size: var(--fs-read);
  line-height: fontGuide("fs-read", "line-height");
  // links
  a:link:not(.btn):not(.link):not(.tile):not(.more) {
    text-decoration: underline;
  }
  a:link:not(.btn):not(.link):hover {
  }
  .link {
    margin-top: rfs(0.5rem);
  }
  .list {
    margin-top: rfs(1rem);
  }
  // lists, not for lists and tabs
  ul:not(.tabs):not(.list) ol {
    margin-bottom: rfs(1rem);
    li {
      list-style: $box-list-style;
    }
  }
  br {
    content: "";
    display: block;
    margin: 1rem 0;
  }
  & > .btn {
    margin-top: var(--scale-gap);
  }
  // gap polyfill with negative margin based on it's --gap var
  & > .box {
    padding: 0px;
    margin-left: calc(-1 * var(--gap) / 2);
    margin-right: calc(-1 * var(--gap) / 2);
    width: calc(100% + var(--gap));
    .btn {
      margin-left: calc(var(--gap) / 2);
      margin-right: calc(var(--gap) / 2);
    }
  }
  .btn {
    margin-top: var(--scale-gap);
  }
}
.box.stretch {
  height: 100%;
  justify-content: center;
}
