html {
  font-size: $html-fontsize-default;
  font-family: var(--font-read);
  box-sizing: border-box;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// default gap, dont change
:root {
  --gap: 0px;
}

@include view-l {
  html {
    font-size: $html-fontsize-large;
  }
}
@include view-w {
  html {
    font-size: $html-fontsize-wide;
  }
}
