// create the chip
.chips {
  display: flex;
  flex-direction: row;
  margin-left: calc(-1 * var(--gap) / 2);
  margin-right: calc(-1 * var(--gap) / 2);
  width: calc(100% + var(--gap));

  & > * {
    margin-left: calc(var(--gap) / 2);
    margin-right: calc(var(--gap) / 2);
  }
}
.chip,
.chips > * {
  @include chip-base(
    $chip-base,
    $chip-focus,
    $chip-active,
    $chip-disabled,
    $chip-animation
  );
  @include chip-line("line", $chip-line);
}

// create resizers
@each $size-name, $i in $theme-resizers {
  .chip {
    &.#{$size-name} {
      font-size: v("fs-btn-#{$size-name}");
      height: rfs(calc(var(--space-object-small) * #{$i}));
    }
  }
}
